body {
    background-image: url(../login/images/bck.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin: 0; */
    background-color: #f0f0f0;
    backdrop-filter: blur(3px);
  }
  .Login {

    width: 400px;
    /* margin-left: 50%; */
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffffd2;
    box-shadow: 5px 5px 10px;
  }
  /* img{

   margin-top: 35%;
  } */

  input{
    background-color: #00ffae12; /* This sets the placeholder text color */
}
.fully{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

  /* .log{
    width: 100px;
  } */

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  input {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    /* margin-right: 10px; */
    background-color: #000000 ;
    color: #fff;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  .login-form {
    margin-top: 30px;
  }
  
  /*.login-form a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #3b5998;
    color: #fff;
    cursor: pointer;
  }*/
  

  
  #ck{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .forget-password {
  
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin-top: 10px;
  }
  
  #rememberMe{
    padding-top: 1px;
    padding-left: 2px;
    margin-bottom: 5px;
    width: 20px;
  }
  
  #logos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  h4{
    padding-top: 5px;
    margin-bottom: 0px;
  }
  h1{
    color: #000000c0;
  }
  
  button{
    border-radius: 10px;
    width: 100%;
    color: #ffffff;
  
  }
  
  #b1:hover{
    background-color: rgb(0, 255, 128);
    color: #000;
    font-weight: 400;
    transition: 1s;
  }

  #b2:hover{
    background-color: rgb(0, 174, 255);
    transition: 3s;
  }

  .already{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-bottom: 5px;
  }
  h4{
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .ingrp{
 
    /* bottom: 12px; */
    right: 17px;
    font-size: 14px;
    color: red;
  }