/*------------------------- Body -----------------------------*/
body{
    background-size: cover;
    background-position: center;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    color: rgba(223, 222, 222, 0.806);
    
}

/*------------------------- Navbar css ----------------------------*/

.top{
    padding: 10 10 10 10;
    height: auto;
    width: 100%;
    /* background-image: url(./logos/newback.jpg); */
    /* background-size: cover;
    background-position: center; */
    
}

nav{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 100%;
    margin-right: 15px;
    overflow: auto;
}

ul{
    padding: 0;
    margin: 0 0 0 150px;
    margin-top: 20px;
    list-style: none;
    text-decoration: none;
}

.Hlist{
    float: left;
}

.logo{
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
}

.top a{

    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding: 20px 35px 20px;
    /* text-decoration: none; */
    font-size:large;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
}

nav a:hover{

    color: rgb(0, 255, 145);
   /* border-radius: 50px;
    border-style: dashed;*/
    transition: 0.8s;
}

.text1{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding-top: 20px;
}

#ser{
    color: white;
    font-size: 50px;
}
.services {
    display: flex;
    justify-content: space-around;
    /* padding-top: 100px; */
    /* margin: 50px; */
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.agencys{
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    margin: 10px;
    margin-top: 50px;
    background-color: #ffffffbc;
    color: black;
}

.agencys h2 {
    font-size: 24px;
    color: black;
}


.botton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
}

.botton:hover {
    background-color: #00ffd9;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.agencys h3{
    display: flex;
    align-items: center;
    color: rgb(26, 1, 1);
    justify-content:center ;
}

p{
    color: black;
    text-align: center;
}

.gg{
    display: flex;
    align-items: center;
    justify-content: center;
}


/*------------------------- Footer css -----------------------------*/

footer{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgba(1, 24, 44, 0.653);
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.list{
    padding-right: 100px;
}
.Flist{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 15px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.Flist2{

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 206, 206);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-start ;
    width: 100%;
    margin-right: 15px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.icon{
    padding-left: 15px;
}
.Fend ul li a{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding: 20px 35px 20px;
    text-decoration: none;
    font-size:large;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
}
.Fend{

    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.row a:hover{

    color: rgb(0, 255, 145);
   /* border-radius: 50px;
    border-style: dashed;*/
    transition: 0.8s;
}

#cop{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: small;
}
/*................slideshow..........*/

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
  align-items: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}