/*------------------------- Body -----------------------------*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    color: rgba(163, 163, 163, 0.806);
}

/*------------------------- Hero css ----------------------------*/

.hero{
    padding: 10 10 10 10;
    height: 100vh;
    width: 100%;
    background-image: url(./logos/newback.jpg);
    background-size: cover;
    background-position: center;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 100%;
    margin-right: 15px;
    overflow: auto;
}

ul{
    padding: 0;
    margin: 0 0 0 150px;
    margin-top: 20px;
    list-style: none;
    text-decoration: none;
}

.Hlist{
    float: left;
}

.logo{
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
}

.hero a{

    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding: 20px 35px 20px;
    /* text-decoration: none; */
    font-size:large;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
}

nav a:hover{

    color: rgb(0, 255, 145);
   /* border-radius: 50px;
    border-style: dashed;*/
    transition: 0.8s;
}




/*designer page*/

.flex_align_justify{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.flex_align{
    display: flex;
    align-items: center;
}

.wrapper{
    min-height: 100vh;
    padding: 0 20px;
}

.container {
    align-items: center;
    justify-content: center;
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 5%;

  }

.container h1{
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: lightgray;
    text-align: justify;
    
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr, th{
    color: black;
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: auto;
}

.add{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    padding: 2px;
    align-items: center;
    margin-bottom: 5px;
    background-color: lightseagreen;

}

.add :hover{
    background-color: black;
}


.button12{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


form button{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}
  
  /* Style form labels */
.form-group label {
    display: block;
    margin-bottom: 5px;
}



  /* Style form input fields */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
  

  

/*------------------------- Footer css -----------------------------*/

footer{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgba(1, 24, 44, 0.943);
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.list{
    padding-right: 100px;
}
.Flist{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 15px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.Flist2{

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(176, 176, 176);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-start ;
    width: 100%;
    margin-right: 15px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.icon{
    padding-left: 15px;
}
.Fend ul li a{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding: 20px 35px 20px;
    text-decoration: none;
    font-size:large;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
}
.Fend{

    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.row a:hover{

    color: rgb(0, 255, 145);
   /* border-radius: 50px;
    border-style: dashed;*/
    transition: 0.8s;
}

#cop{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: small;
}

