/*------------------------- Body -----------------------------*/
body{
    background-image: url(./images/pexels-eric-smart-2247677.jpg);
    background-size: cover;
    background-position: center;
}
*{
    padding-left: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;

    
}

/*------------------------- Navbar css ----------------------------*/

.top{
    position: fixed;
    /* margin-bottom: 1000px; */
    padding: 0 10 5 0;
    height: 55px;
    width: 100%;
    background-color: rgba(27, 42, 59, 0.797);
    backdrop-filter: blur(10px);
    /* background-image: url(./logos/newback.jpg); */
    /* background-size: cover;
    background-position: center; */
    
}

nav{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 100%;
    margin-right: 15px;
    overflow: auto;
}

ul{
    padding: 0;
    margin: 0 0 0 150px;
    margin-top: 0px;
    list-style: none;
    text-decoration: none;
}

.Hlist{
    float: left;
}

.logo{
    position: absolute;
    margin-top: 11px;
    margin-left: 20px;
}

.top a{

    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding: 20px 35px 20px;
    /* text-decoration: none; */
    font-size: small;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
}

nav a:hover{

    color: rgb(0, 255, 145);
    background-color: rgba(0, 70, 128, 0.635);
    border-radius: 30px;
    border-style:hidden;
    transition: 0.8s;
}

/*about us*/



header {

    color: #fff;
    padding: 120px 0 0 0;
    text-align: center;
}


.about {
    margin-top: 20px;
    margin-bottom: 0px;

    text-align: center;
}

#par{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size:  150%;
    font-weight: bold;
    color: rgba(245, 245, 220, 0.799);
}

/*------------------------- Clients -----------------------------*/

.clients{
    background-color: rgba(20, 57, 89, 0.486);
    padding: 6%;

}
.Crow{
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#Ctext{
    color: antiquewhite;
    font-size: 200%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px ;
}

/*------------------------- Hero css ----------------------------*/

/* .Hrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */

.hero{
    /* margin-top: 100px; */
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    /* background-color: red; */
    /* margin-right: 15px; */
    overflow: auto;
}

.Hrow{
/* position: relative; */
margin-top: 50px;
margin-bottom: 50px;
/* margin-right: 50px; */
display: flex;
align-items: center;
justify-content:space-between;
justify-content: flex-end;
}

#Himage{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 100px;

    
} 

#imagehero{
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(55, 55, 55, 0.719);
}


.Htext{
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 80px;
}


#Herotext{
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    font-weight: bolder;
    color: rgb(0, 255, 195);
    padding-left: 100px;
    padding-right: 100px;
}
#Herotext:hover{
    color: rgb(255, 255, 255);
    transition: 1.5s;
}

/*-----------button--------------*/

.button-container {

    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #00ff7300;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
}

.button:hover {
    background-color: #00ffea;
    transition: 0.5s;
}



/*------------------------- Footer css -----------------------------*/

footer{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgba(1, 24, 44, 0.653);
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.list{
    padding-right: 100px;
}
.Flist{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 15px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.Flist2{

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 206, 206);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-start ;
    width: 100%;
    margin-right: 15px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.icon{
    padding-left: 15px;
}
.Fend ul li a{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding: 20px 35px 20px;
    text-decoration: none;
    font-size:large;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
}
.Fend{

    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.row a:hover{

    color: rgb(0, 255, 145);
   /* border-radius: 50px;
    border-style: dashed;*/
    transition: 0.8s;
}

#cop{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: small;
}